nodeRedFlows.json
[{"id":"a62d5422.93cbc8","type":"tab","label":"taldea1","disabled":false,"info":""},{"id":"bf589756.d289e","type":"tab","label":"taldea2","disabled":false,"info":""},{"id":"7aeb8d5.2225974","type":"tab","label":"taldea3","disabled":false,"info":""},{"id":"98c84819.29ed","type":"tab","label":"taldea4","disabled":false,"info":""},{"id":"dba76586.657f8","type":"tab","label":"GUZTIA","disabled":false,"info":""},{"id":"92ae969b.072e4","type":"ttn app","appId":"elektronika","accessKey":"ttn-account-v2.acAYIeb9yX49iZsSlMwxlB2EmSZY3EEii37a-cbt4Cc","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"2abdc8db.a75c1","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Iurreta Co2d free!!","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8aaa4c52.f5384","type":"mqtt-broker","name":"elektronika","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"679ccaf7.d8a094","type":"ui_group","name":"Lora","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"c5620f11.04625","type":"ui_group","name":"grafika","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"dc684913.2c73b","type":"ui_spacer","name":"spacer","group":"c5620f11.04625","order":1,"width":1,"height":1},{"id":"e297be49.b753e","type":"ui_spacer","name":"spacer","group":"","order":3,"width":3,"height":1},{"id":"e739306c.9d4fd8","type":"ttn app","appId":"espttgp","accessKey":"ttn-account-v2.Qg0c91wbQQkdyx_MAL9sIZcDJV2SncGuvZ-UvUHsxgg","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"297e74b.a52708c","type":"ui_tab","name":"1. taldea","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"ced41bfc.6f86c","type":"ui_spacer","name":"spacer","group":"4d99b29e.6b6954","order":5,"width":7,"height":1},{"id":"52837758.7f1398","type":"ui_spacer","name":"spacer","group":"4d99b29e.6b6954","order":9,"width":7,"height":1},{"id":"8b544194.f204b","type":"ui_spacer","name":"spacer","group":"a4226ea4.949fc","order":1,"width":7,"height":1},{"id":"7e42511a.1c2a7","type":"ui_spacer","name":"spacer","group":"a4226ea4.949fc","order":5,"width":7,"height":1},{"id":"2f41f989.18a1e6","type":"ui_spacer","name":"spacer","group":"a4226ea4.949fc","order":9,"width":7,"height":1},{"id":"4504bdcf.95da6c","type":"ui_spacer","name":"spacer","group":"fbb53060.78af7","order":1,"width":7,"height":1},{"id":"d369eb49.0216d","type":"ui_spacer","name":"spacer","group":"fbb53060.78af7","order":5,"width":7,"height":1},{"id":"b4bc374b.55946","type":"ui_spacer","name":"spacer","group":"fbb53060.78af7","order":9,"width":7,"height":1},{"id":"2a7e69a.2871016","type":"ui_spacer","name":"spacer","group":"a7d7fe19.67f858","order":1,"width":7,"height":1},{"id":"b5be38c0.d20028","type":"ui_spacer","name":"spacer","group":"a7d7fe19.67f858","order":5,"width":7,"height":1},{"id":"324819c.7e588e6","type":"ui_spacer","name":"spacer","group":"a7d7fe19.67f858","order":9,"width":7,"height":1},{"id":"ed42a956.e6f7c8","type":"ui_spacer","name":"spacer","group":"4d99b29e.6b6954","order":5,"width":7,"height":1},{"id":"32c348b0.b74248","type":"ui_spacer","name":"spacer","group":"4d99b29e.6b6954","order":9,"width":7,"height":1},{"id":"e104b1d4.17dfd8","type":"ui_spacer","name":"spacer","group":"a4226ea4.949fc","order":1,"width":7,"height":1},{"id":"1640c319.91ca7d","type":"ui_spacer","name":"spacer","group":"a4226ea4.949fc","order":5,"width":7,"height":1},{"id":"198a984f.1c3fe","type":"ui_spacer","name":"spacer","group":"a4226ea4.949fc","order":9,"width":7,"height":1},{"id":"7fb1534b.ceac5c","type":"ui_spacer","name":"spacer","group":"fbb53060.78af7","order":1,"width":7,"height":1},{"id":"3ea3003c.4653b","type":"ui_spacer","name":"spacer","group":"fbb53060.78af7","order":5,"width":7,"height":1},{"id":"2282a9b9.773306","type":"ui_spacer","name":"spacer","group":"fbb53060.78af7","order":9,"width":7,"height":1},{"id":"817839b.39a82c8","type":"ui_spacer","name":"spacer","group":"a7d7fe19.67f858","order":1,"width":7,"height":1},{"id":"bf98c0b.3343bc","type":"ui_spacer","name":"spacer","group":"a7d7fe19.67f858","order":5,"width":7,"height":1},{"id":"30573919.fc6856","type":"ui_spacer","name":"spacer","group":"a7d7fe19.67f858","order":9,"width":7,"height":1},{"id":"295cc865.5e3268","type":"ui_tab","name":"2. taldea","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"21e72120.60a2e6","type":"ui_tab","name":"3. taldea","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"cbb0fa8f.a6b6c8","type":"ui_group","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"b2d2902a.fdf0c8","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"b10131b6.5d5508","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"64e54963.6d83b","type":"ui_spacer","name":"spacer","group":"b2d2902a.fdf0c8","order":4,"width":4,"height":1},{"id":"8ff7b685.f81d58","type":"ui_tab","name":"4 taldea","icon":"dashboard","disabled":false,"hidden":false},{"id":"9dd35b28.36c4e8","type":"ui_group","name":"Co2","tab":"8ff7b685.f81d58","order":1,"disp":true,"width":8,"collapse":false},{"id":"647b339e.f8599c","type":"ui_group","name":"Tenperatura","tab":"8ff7b685.f81d58","order":2,"disp":true,"width":8,"collapse":false},{"id":"3bf8c25d.2cb12e","type":"ui_group","name":"Hezetasuna","tab":"8ff7b685.f81d58","order":3,"disp":true,"width":8,"collapse":false},{"id":"1814b88b.5d1caf","type":"ui_group","name":"Co2","tab":"297e74b.a52708c","order":1,"disp":true,"width":8,"collapse":false},{"id":"ed4be0da.466038","type":"ui_group","name":"Tenperatura","tab":"297e74b.a52708c","order":2,"disp":true,"width":8,"collapse":false},{"id":"9399bdb0.dff18","type":"ui_group","name":"Hezetasuna","tab":"297e74b.a52708c","order":3,"disp":true,"width":8,"collapse":false},{"id":"aea406d6.744b2","type":"ui_group","name":"Co2","tab":"295cc865.5e3268","order":1,"disp":true,"width":8,"collapse":false},{"id":"9fc11718.439a","type":"ui_group","name":"Tenperatura","tab":"295cc865.5e3268","order":2,"disp":true,"width":8,"collapse":false},{"id":"848a09c0.93ab5","type":"ui_group","name":"Hezetasuna","tab":"295cc865.5e3268","order":3,"disp":true,"width":8,"collapse":false},{"id":"196d0fc6.b9fca","type":"ui_group","name":"Co2","tab":"21e72120.60a2e6","order":1,"disp":true,"width":8,"collapse":false},{"id":"1f851a81.82699d","type":"ui_group","name":"Tenperatura","tab":"21e72120.60a2e6","order":2,"disp":true,"width":8,"collapse":false},{"id":"63284f0c.9cf8c","type":"ui_group","name":"Hezetasuna","tab":"21e72120.60a2e6","order":3,"disp":true,"width":8,"collapse":false},{"id":"5c2b032d.d8811c","type":"ui_tab","name":"GUZTIA","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"705b499d.dca46","type":"ui_group","name":"1 taldea","tab":"5c2b032d.d8811c","order":1,"disp":true,"width":6,"collapse":false},{"id":"3e2e72a9.e52976","type":"ui_group","name":"2. taldea","tab":"5c2b032d.d8811c","order":2,"disp":true,"width":6,"collapse":false},{"id":"4f0375a0.263044","type":"ui_group","name":"3. taldea","tab":"5c2b032d.d8811c","order":3,"disp":true,"width":6,"collapse":false},{"id":"b3565e68.e1572","type":"ui_group","name":"4. taldea","tab":"5c2b032d.d8811c","order":4,"disp":true,"width":6,"collapse":false},{"id":"11bbeb11.d4928d","type":"mqtt in","z":"98c84819.29ed","name":"","topic":"elektronika/devices/taldea4/up","qos":"2","datatype":"auto","broker":"8aaa4c52.f5384","x":150,"y":280,"wires":[["2060aa2b.14a756"]]},{"id":"d9a61d74.ff7728","type":"comment","z":"98c84819.29ed","name":"","info":"https://www.youtube.com/watch?v=hHOdWhN5elA\nhttps://www.thethingsnetwork.org/forum/t/mqtt-in-node-red-howto/39909\nhttps://flows.nodered.org/flow/845bb5b8cf788939dd261f472c289f77\n\nhttps://www.binaryhexconverter.com/decimal-to-hex-converter","x":310,"y":60,"wires":[]},{"id":"8513ad21.9607a","type":"debug","z":"98c84819.29ed","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":100,"wires":[]},{"id":"40e39f2.41257e","type":"debug","z":"98c84819.29ed","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":260,"wires":[]},{"id":"ec954292.ee5c68","type":"debug","z":"98c84819.29ed","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":420,"wires":[]},{"id":"fbbfc516.e4ca58","type":"function","z":"98c84819.29ed","name":"katea -> tenperatura","func":"var zenbakia = parseInt(msg.payload);\nvar tenperatura = parseInt((zenbakia/1000000))/10;\nvar msg1 = { payload: msg.payload.length };\nmsg1.payload = tenperatura;\n\n\nvar msg2 = { payload: msg.payload.length };\nvar hezetasuna = parseInt((zenbakia - (parseInt(zenbakia/1000000))*1000000)/10000);\nmsg2.payload = hezetasuna;\n\n\nvar msg3 = { payload: msg.payload.length };\nvar co2 = zenbakia - (parseInt(zenbakia/10000)*10000);\nmsg3.payload = co2;\n\n\n\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":640,"y":300,"wires":[["8513ad21.9607a","31c2aadf.7d1246","8badc66a.5931b","e1cd3ff7.c0e3a8"],["40e39f2.41257e","ba121ff1.fcd108","fef318f6.a3d31","df484164.97aa08"],["ec954292.ee5c68","d4a6d807.ef9be8","fff310fb.db8408","feb165b6.b3e17"]]},{"id":"31c2aadf.7d1246","type":"ui_chart","z":"98c84819.29ed","name":"Tenperatura grafikoa","group":"647b339e.f8599c","order":2,"width":8,"height":5,"label":"Tenperatura grafikoa","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":920,"y":140,"wires":[[]]},{"id":"ba121ff1.fcd108","type":"ui_chart","z":"98c84819.29ed","name":"Hezetasuna","group":"3bf8c25d.2cb12e","order":2,"width":8,"height":5,"label":"Hezetasuna","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":890,"y":300,"wires":[[]]},{"id":"d4a6d807.ef9be8","type":"ui_chart","z":"98c84819.29ed","name":"C02 ppm","group":"9dd35b28.36c4e8","order":2,"width":8,"height":5,"label":"Co2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"1500","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":880,"y":460,"wires":[[]]},{"id":"8badc66a.5931b","type":"ui_gauge","z":"98c84819.29ed","name":"Tenperatura","group":"647b339e.f8599c","order":1,"width":8,"height":2,"gtype":"gage","title":"Tenperatura","label":"ºC","format":"{{value}}","min":0,"max":"40","colors":["#2500b5","#17ec2b","#ca3838"],"seg1":"","seg2":"","x":890,"y":180,"wires":[]},{"id":"fef318f6.a3d31","type":"ui_gauge","z":"98c84819.29ed","name":"Hezetasuna","group":"3bf8c25d.2cb12e","order":1,"width":8,"height":2,"gtype":"wave","title":"Hezetasuna","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#b5001a","#e6e600","#1132d6"],"seg1":"","seg2":"","x":890,"y":340,"wires":[]},{"id":"fff310fb.db8408","type":"ui_gauge","z":"98c84819.29ed","name":"CO2","group":"9dd35b28.36c4e8","order":1,"width":8,"height":2,"gtype":"gage","title":"C02","label":"ppm","format":"{{value}}","min":"400","max":"1500","colors":["#00ff05","#e6e600","#d61e11"],"seg1":"","seg2":"","x":870,"y":500,"wires":[]},{"id":"2060aa2b.14a756","type":"extract_ttn","z":"98c84819.29ed","name":"","x":390,"y":280,"wires":[["2ed9fa3e.7c621e","3b33ec0a.d490dc"]]},{"id":"2ed9fa3e.7c621e","type":"debug","z":"98c84819.29ed","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":380,"wires":[]},{"id":"3b33ec0a.d490dc","type":"function","z":"98c84819.29ed","name":"","func":"var buf = Buffer.from(msg.payload,\"hex\"); //change the fixed string to msg.payload or whatever\nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":200,"wires":[["fbbfc516.e4ca58"]]},{"id":"d3328892.bdfd9","type":"mqtt in","z":"7aeb8d5.2225974","name":"","topic":"elektronika/devices/taldea3/up","qos":"2","datatype":"auto","broker":"8aaa4c52.f5384","x":120,"y":280,"wires":[["38d1c35d.b4ba34"]]},{"id":"14c4f37f.0b5015","type":"comment","z":"7aeb8d5.2225974","name":"","info":"https://www.youtube.com/watch?v=hHOdWhN5elA\nhttps://www.thethingsnetwork.org/forum/t/mqtt-in-node-red-howto/39909\nhttps://flows.nodered.org/flow/845bb5b8cf788939dd261f472c289f77\n\nhttps://www.binaryhexconverter.com/decimal-to-hex-converter","x":280,"y":60,"wires":[]},{"id":"faf0936f.a98738","type":"debug","z":"7aeb8d5.2225974","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":100,"wires":[]},{"id":"24fcd0b2.68bc9","type":"debug","z":"7aeb8d5.2225974","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":260,"wires":[]},{"id":"e49422ca.45ccb8","type":"debug","z":"7aeb8d5.2225974","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":420,"wires":[]},{"id":"1afe1dbd.86a222","type":"function","z":"7aeb8d5.2225974","name":"katea -> tenperatura","func":"var zenbakia = parseInt(msg.payload);\nvar tenperatura = parseInt((zenbakia/1000000))/10;\nvar msg1 = { payload: msg.payload.length };\nmsg1.payload = tenperatura;\n\nvar msg2 = { payload: msg.payload.length };\nvar hezetasuna = parseInt((zenbakia - (parseInt(zenbakia/1000000))*1000000)/10000);\nmsg2.payload = hezetasuna;\n\nvar msg3 = { payload: msg.payload.length };\nvar co2 = zenbakia - (parseInt(zenbakia/10000)*10000);\nmsg3.payload = co2;\n\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":610,"y":300,"wires":[["faf0936f.a98738","9010b378.ff90c8","6c45b31a.49ff0c","fd6bfb1c.10814"],["24fcd0b2.68bc9","39cbce9b.874b92","1fb145a2.5ded1a","1669d647.98933a"],["e49422ca.45ccb8","f6d9ccd3.4d7598","27f593c3.42d09c","d27a794c.770848"]]},{"id":"9010b378.ff90c8","type":"ui_chart","z":"7aeb8d5.2225974","name":"Tenperatura grafikoa","group":"1f851a81.82699d","order":2,"width":8,"height":5,"label":"Tenperatura grafikoa","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":890,"y":140,"wires":[[]]},{"id":"39cbce9b.874b92","type":"ui_chart","z":"7aeb8d5.2225974","name":"Hezetasuna","group":"63284f0c.9cf8c","order":2,"width":8,"height":5,"label":"Hezetasuna","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":860,"y":300,"wires":[[]]},{"id":"f6d9ccd3.4d7598","type":"ui_chart","z":"7aeb8d5.2225974","name":"C02 ppm","group":"196d0fc6.b9fca","order":2,"width":8,"height":5,"label":"Co2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"1500","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":460,"wires":[[]]},{"id":"6c45b31a.49ff0c","type":"ui_gauge","z":"7aeb8d5.2225974","name":"Tenperatura","group":"1f851a81.82699d","order":1,"width":8,"height":2,"gtype":"gage","title":"Tenperatura","label":"ºC","format":"{{value}}","min":0,"max":"40","colors":["#2500b5","#17ec2b","#ca3838"],"seg1":"","seg2":"","x":860,"y":180,"wires":[]},{"id":"1fb145a2.5ded1a","type":"ui_gauge","z":"7aeb8d5.2225974","name":"Hezetasuna","group":"63284f0c.9cf8c","order":1,"width":8,"height":2,"gtype":"wave","title":"Hezetasuna","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#b5001a","#e6e600","#1132d6"],"seg1":"","seg2":"","x":860,"y":340,"wires":[]},{"id":"27f593c3.42d09c","type":"ui_gauge","z":"7aeb8d5.2225974","name":"CO2","group":"196d0fc6.b9fca","order":1,"width":8,"height":2,"gtype":"gage","title":"C02","label":"ppm","format":"{{value}}","min":"400","max":"1500","colors":["#00ff05","#e6e600","#d61e11"],"seg1":"","seg2":"","x":840,"y":500,"wires":[]},{"id":"38d1c35d.b4ba34","type":"extract_ttn","z":"7aeb8d5.2225974","name":"","x":360,"y":280,"wires":[["2c8c6c1a.291bd4","a31bc058.6f2b98"]]},{"id":"2c8c6c1a.291bd4","type":"debug","z":"7aeb8d5.2225974","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":380,"wires":[]},{"id":"a31bc058.6f2b98","type":"function","z":"7aeb8d5.2225974","name":"","func":"var buf = Buffer.from(msg.payload,\"hex\"); //change the fixed string to msg.payload or whatever\nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":200,"wires":[["1afe1dbd.86a222"]]},{"id":"487a291e.4c371","type":"mqtt in","z":"a62d5422.93cbc8","name":"","topic":"elektronika/devices/taldea1/up","qos":"2","datatype":"auto","broker":"8aaa4c52.f5384","x":140,"y":280,"wires":[["18153fa.c157c4"]]},{"id":"504d9095.d001f","type":"comment","z":"a62d5422.93cbc8","name":"","info":"https://www.youtube.com/watch?v=hHOdWhN5elA\nhttps://www.thethingsnetwork.org/forum/t/mqtt-in-node-red-howto/39909\nhttps://flows.nodered.org/flow/845bb5b8cf788939dd261f472c289f77\n\nhttps://www.binaryhexconverter.com/decimal-to-hex-converter","x":300,"y":60,"wires":[]},{"id":"16519acb.0811ed","type":"debug","z":"a62d5422.93cbc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":100,"wires":[]},{"id":"fcf2232.953756","type":"debug","z":"a62d5422.93cbc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":260,"wires":[]},{"id":"527744ae.b5e484","type":"debug","z":"a62d5422.93cbc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":420,"wires":[]},{"id":"3eb7b7c8.d3da9","type":"function","z":"a62d5422.93cbc8","name":"katea -> tenperatura","func":"var zenbakia = parseInt(msg.payload);\nvar tenperatura = parseInt((zenbakia/1000000))/10;\nvar msg1 = { payload: msg.payload.length };\nmsg1.payload = tenperatura;\n\n\nvar msg2 = { payload: msg.payload.length };\nvar hezetasuna = parseInt((zenbakia - (parseInt(zenbakia/1000000))*1000000)/10000);\nmsg2.payload = hezetasuna;\n\n\nvar msg3 = { payload: msg.payload.length };\nvar co2 = zenbakia - (parseInt(zenbakia/10000)*10000);\nmsg3.payload = co2;\n\n\n\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":630,"y":300,"wires":[["16519acb.0811ed","120e5af9.110a45","3770f0c3.843788","a3bf56e5.893f18"],["fcf2232.953756","a726bbd0.c51f18","b4a1ee4f.d7a9f","b30aefe2.7ae138"],["527744ae.b5e484","191a63bb.62702c","9f472a1d.19dfb8","9f92f627.1991a8"]]},{"id":"120e5af9.110a45","type":"ui_chart","z":"a62d5422.93cbc8","name":"Tenperatura grafikoa","group":"ed4be0da.466038","order":2,"width":8,"height":5,"label":"Tenperatura grafikoa","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":910,"y":140,"wires":[[]]},{"id":"a726bbd0.c51f18","type":"ui_chart","z":"a62d5422.93cbc8","name":"Hezetasuna","group":"9399bdb0.dff18","order":2,"width":8,"height":5,"label":"Hezetasuna","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":880,"y":300,"wires":[[]]},{"id":"191a63bb.62702c","type":"ui_chart","z":"a62d5422.93cbc8","name":"C02 ppm","group":"1814b88b.5d1caf","order":2,"width":8,"height":5,"label":"Co2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"1500","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":870,"y":460,"wires":[[]]},{"id":"3770f0c3.843788","type":"ui_gauge","z":"a62d5422.93cbc8","name":"Tenperatura","group":"ed4be0da.466038","order":1,"width":8,"height":2,"gtype":"gage","title":"Tenperatura","label":"ºC","format":"{{value}}","min":0,"max":"40","colors":["#2500b5","#17ec2b","#ca3838"],"seg1":"","seg2":"","x":880,"y":180,"wires":[]},{"id":"b4a1ee4f.d7a9f","type":"ui_gauge","z":"a62d5422.93cbc8","name":"Hezetasuna","group":"9399bdb0.dff18","order":1,"width":8,"height":2,"gtype":"wave","title":"Hezetasuna","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#b5001a","#e6e600","#1132d6"],"seg1":"","seg2":"","x":880,"y":340,"wires":[]},{"id":"9f472a1d.19dfb8","type":"ui_gauge","z":"a62d5422.93cbc8","name":"CO2","group":"1814b88b.5d1caf","order":1,"width":8,"height":2,"gtype":"gage","title":"C02","label":"ppm","format":"{{value}}","min":"400","max":"1500","colors":["#00ff05","#e6e600","#d61e11"],"seg1":"","seg2":"","x":860,"y":500,"wires":[]},{"id":"18153fa.c157c4","type":"extract_ttn","z":"a62d5422.93cbc8","name":"","x":380,"y":280,"wires":[["52642bcb.78f924","54a37e66.c92128"]]},{"id":"52642bcb.78f924","type":"debug","z":"a62d5422.93cbc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":380,"wires":[]},{"id":"54a37e66.c92128","type":"function","z":"a62d5422.93cbc8","name":"","func":"var buf = Buffer.from(msg.payload,\"hex\"); //change the fixed string to msg.payload or whatever\nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":200,"wires":[["3eb7b7c8.d3da9"]]},{"id":"1bbf49dd.efbcce","type":"mqtt in","z":"bf589756.d289e","name":"","topic":"elektronika/devices/taldea2/up","qos":"2","datatype":"auto","broker":"8aaa4c52.f5384","x":160,"y":280,"wires":[["5e8b2787.8f7548"]]},{"id":"a03dbae8.90b2b","type":"comment","z":"bf589756.d289e","name":"","info":"https://www.youtube.com/watch?v=hHOdWhN5elA\nhttps://www.thethingsnetwork.org/forum/t/mqtt-in-node-red-howto/39909\nhttps://flows.nodered.org/flow/845bb5b8cf788939dd261f472c289f77\n\nhttps://www.binaryhexconverter.com/decimal-to-hex-converter","x":220,"y":160,"wires":[]},{"id":"973c18cd.b6bc8","type":"debug","z":"bf589756.d289e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":100,"wires":[]},{"id":"65601bb5.7f5bac","type":"debug","z":"bf589756.d289e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":260,"wires":[]},{"id":"af818b94.ebeb7","type":"debug","z":"bf589756.d289e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":420,"wires":[]},{"id":"f4767686.1fb8a","type":"function","z":"bf589756.d289e","name":"katea -> tenperatura","func":"var zenbakia = parseInt(msg.payload);\nvar tenperatura = parseInt((zenbakia/1000000))/10;\nvar msg1 = { payload: msg.payload.length };\nmsg1.payload = tenperatura;\n\n\nvar msg2 = { payload: msg.payload.length };\nvar hezetasuna = parseInt((zenbakia - (parseInt(zenbakia/1000000))*1000000)/10000);\nmsg2.payload = hezetasuna;\n\n\nvar msg3 = { payload: msg.payload.length };\nvar co2 = zenbakia - (parseInt(zenbakia/10000)*10000);\nmsg3.payload = co2;\n\n\n\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":650,"y":300,"wires":[["973c18cd.b6bc8","5e026db1.e5d804","f1e89999.c826e","71299c4d.5a5ba4"],["65601bb5.7f5bac","2ba398e8.b82058","aa7ee106.4e34","a0abfe27.1ba948"],["af818b94.ebeb7","89702d8c.24d7a","836ca01b.1ba12","ca68f92a.9d07e"]]},{"id":"5e026db1.e5d804","type":"ui_chart","z":"bf589756.d289e","name":"Tenperatura grafikoa","group":"9fc11718.439a","order":2,"width":8,"height":5,"label":"Tenperatura grafikoa","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":930,"y":140,"wires":[[]]},{"id":"2ba398e8.b82058","type":"ui_chart","z":"bf589756.d289e","name":"Hezetasuna","group":"848a09c0.93ab5","order":2,"width":8,"height":5,"label":"Hezetasuna","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":900,"y":300,"wires":[[]]},{"id":"89702d8c.24d7a","type":"ui_chart","z":"bf589756.d289e","name":"C02 ppm","group":"aea406d6.744b2","order":2,"width":8,"height":5,"label":"Co2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"1500","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":890,"y":460,"wires":[[]]},{"id":"f1e89999.c826e","type":"ui_gauge","z":"bf589756.d289e","name":"Tenperatura","group":"9fc11718.439a","order":1,"width":8,"height":2,"gtype":"gage","title":"Tenperatura","label":"ºC","format":"{{value}}","min":0,"max":"40","colors":["#2500b5","#17ec2b","#ca3838"],"seg1":"","seg2":"","x":900,"y":180,"wires":[]},{"id":"aa7ee106.4e34","type":"ui_gauge","z":"bf589756.d289e","name":"Hezetasuna","group":"848a09c0.93ab5","order":1,"width":8,"height":2,"gtype":"wave","title":"Hezetasuna","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#b5001a","#e6e600","#1132d6"],"seg1":"","seg2":"","x":900,"y":340,"wires":[]},{"id":"836ca01b.1ba12","type":"ui_gauge","z":"bf589756.d289e","name":"CO2","group":"aea406d6.744b2","order":1,"width":8,"height":2,"gtype":"gage","title":"C02","label":"ppm","format":"{{value}}","min":"400","max":"1500","colors":["#00ff05","#e6e600","#d61e11"],"seg1":"","seg2":"","x":880,"y":500,"wires":[]},{"id":"5e8b2787.8f7548","type":"extract_ttn","z":"bf589756.d289e","name":"","x":400,"y":280,"wires":[["2ba705ff.6986aa","1a8cc3a2.d68a44"]]},{"id":"2ba705ff.6986aa","type":"debug","z":"bf589756.d289e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":380,"wires":[]},{"id":"1a8cc3a2.d68a44","type":"function","z":"bf589756.d289e","name":"","func":"var buf = Buffer.from(msg.payload,\"hex\"); //change the fixed string to msg.payload or whatever\nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":200,"wires":[["f4767686.1fb8a"]]},{"id":"fd6bfb1c.10814","type":"link out","z":"7aeb8d5.2225974","name":"","links":["8804db06.fd5f48","7f1a3b5b.8d2124"],"x":815,"y":220,"wires":[]},{"id":"1669d647.98933a","type":"link out","z":"7aeb8d5.2225974","name":"","links":["6246256e.b32034"],"x":845,"y":380,"wires":[]},{"id":"d27a794c.770848","type":"link out","z":"7aeb8d5.2225974","name":"","links":["b873f0cd.4a536"],"x":805,"y":540,"wires":[]},{"id":"a3bf56e5.893f18","type":"link out","z":"a62d5422.93cbc8","name":"","links":["8804db06.fd5f48","b31ba22e.6cd8b"],"x":855,"y":220,"wires":[]},{"id":"b30aefe2.7ae138","type":"link out","z":"a62d5422.93cbc8","name":"","links":["8cfabe45.03e77"],"x":885,"y":380,"wires":[]},{"id":"9f92f627.1991a8","type":"link out","z":"a62d5422.93cbc8","name":"","links":["b2f16fd4.418498"],"x":845,"y":540,"wires":[]},{"id":"71299c4d.5a5ba4","type":"link out","z":"bf589756.d289e","name":"","links":["8804db06.fd5f48","5414cb0e.7deb44"],"x":895,"y":220,"wires":[]},{"id":"a0abfe27.1ba948","type":"link out","z":"bf589756.d289e","name":"","links":["411cfdbb.a53394"],"x":925,"y":380,"wires":[]},{"id":"ca68f92a.9d07e","type":"link out","z":"bf589756.d289e","name":"","links":["6b84ad7c.7d16fc"],"x":885,"y":540,"wires":[]},{"id":"e1cd3ff7.c0e3a8","type":"link out","z":"98c84819.29ed","name":"","links":["8804db06.fd5f48","ce20fdd6.77ae8"],"x":855,"y":220,"wires":[]},{"id":"df484164.97aa08","type":"link out","z":"98c84819.29ed","name":"","links":["98cbde5c.e8755"],"x":885,"y":380,"wires":[]},{"id":"feb165b6.b3e17","type":"link out","z":"98c84819.29ed","name":"","links":["a68739a6.14f89"],"x":845,"y":540,"wires":[]},{"id":"b31ba22e.6cd8b","type":"link in","z":"dba76586.657f8","name":"","links":["a3bf56e5.893f18"],"x":155,"y":120,"wires":[["92ef6388.f2291"]]},{"id":"8cfabe45.03e77","type":"link in","z":"dba76586.657f8","name":"","links":["b30aefe2.7ae138"],"x":155,"y":160,"wires":[["e87bd361.c240e"]]},{"id":"b2f16fd4.418498","type":"link in","z":"dba76586.657f8","name":"","links":["9f92f627.1991a8"],"x":155,"y":200,"wires":[["c73e746c.058fa8"]]},{"id":"5414cb0e.7deb44","type":"link in","z":"dba76586.657f8","name":"","links":["71299c4d.5a5ba4"],"x":155,"y":260,"wires":[["6ba5cd55.0849fc"]]},{"id":"411cfdbb.a53394","type":"link in","z":"dba76586.657f8","name":"","links":["a0abfe27.1ba948"],"x":155,"y":300,"wires":[["55c38b37.5d384c"]]},{"id":"6b84ad7c.7d16fc","type":"link in","z":"dba76586.657f8","name":"","links":["ca68f92a.9d07e"],"x":155,"y":340,"wires":[["a54f1dbd.4c4e28"]]},{"id":"7f1a3b5b.8d2124","type":"link in","z":"dba76586.657f8","name":"","links":["fd6bfb1c.10814"],"x":155,"y":400,"wires":[["7e1d5196.64d958"]]},{"id":"6246256e.b32034","type":"link in","z":"dba76586.657f8","name":"","links":["1669d647.98933a"],"x":155,"y":440,"wires":[["f94b837e.36d08"]]},{"id":"b873f0cd.4a536","type":"link in","z":"dba76586.657f8","name":"","links":["d27a794c.770848"],"x":155,"y":480,"wires":[["905c1bb0.fc4cb"]]},{"id":"92ef6388.f2291","type":"ui_chart","z":"dba76586.657f8","name":"","group":"705b499d.dca46","order":1,"width":0,"height":0,"label":"T","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":290,"y":120,"wires":[[]]},{"id":"e87bd361.c240e","type":"ui_chart","z":"dba76586.657f8","name":"","group":"705b499d.dca46","order":2,"width":0,"height":0,"label":"H","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":290,"y":160,"wires":[[]]},{"id":"c73e746c.058fa8","type":"ui_chart","z":"dba76586.657f8","name":"","group":"705b499d.dca46","order":3,"width":0,"height":0,"label":"CO2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":290,"y":200,"wires":[[]]},{"id":"6ba5cd55.0849fc","type":"ui_chart","z":"dba76586.657f8","name":"","group":"3e2e72a9.e52976","order":1,"width":0,"height":0,"label":"T","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":290,"y":260,"wires":[[]]},{"id":"55c38b37.5d384c","type":"ui_chart","z":"dba76586.657f8","name":"","group":"3e2e72a9.e52976","order":2,"width":0,"height":0,"label":"H","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":290,"y":300,"wires":[[]]},{"id":"a54f1dbd.4c4e28","type":"ui_chart","z":"dba76586.657f8","name":"","group":"3e2e72a9.e52976","order":3,"width":0,"height":0,"label":"CO2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":290,"y":340,"wires":[[]]},{"id":"7e1d5196.64d958","type":"ui_chart","z":"dba76586.657f8","name":"","group":"4f0375a0.263044","order":1,"width":0,"height":0,"label":"T","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":290,"y":400,"wires":[[]]},{"id":"f94b837e.36d08","type":"ui_chart","z":"dba76586.657f8","name":"","group":"4f0375a0.263044","order":2,"width":0,"height":0,"label":"H","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":290,"y":440,"wires":[[]]},{"id":"905c1bb0.fc4cb","type":"ui_chart","z":"dba76586.657f8","name":"","group":"4f0375a0.263044","order":3,"width":0,"height":0,"label":"CO2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":290,"y":480,"wires":[[]]},{"id":"ce20fdd6.77ae8","type":"link in","z":"dba76586.657f8","name":"","links":["e1cd3ff7.c0e3a8"],"x":155,"y":540,"wires":[["1e0965b9.bdc5ba"]]},{"id":"98cbde5c.e8755","type":"link in","z":"dba76586.657f8","name":"","links":["df484164.97aa08"],"x":155,"y":580,"wires":[["4954b57f.02fcc4"]]},{"id":"a68739a6.14f89","type":"link in","z":"dba76586.657f8","name":"","links":["feb165b6.b3e17"],"x":155,"y":620,"wires":[["d1159a39.b1c29"]]},{"id":"1e0965b9.bdc5ba","type":"ui_chart","z":"dba76586.657f8","name":"","group":"b3565e68.e1572","order":1,"width":0,"height":0,"label":"T","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":290,"y":540,"wires":[[]]},{"id":"4954b57f.02fcc4","type":"ui_chart","z":"dba76586.657f8","name":"","group":"b3565e68.e1572","order":2,"width":0,"height":0,"label":"H","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":290,"y":580,"wires":[[]]},{"id":"d1159a39.b1c29","type":"ui_chart","z":"dba76586.657f8","name":"","group":"b3565e68.e1572","order":3,"width":0,"height":0,"label":"CO2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":290,"y":620,"wires":[[]]}]